body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.reg-divider{   
    margin-bottom:15px; 
    margin-top:25px;
}

.bank-details{
    display: block;
    width: auto;
    padding: 9.5px;
    margin: 0px 0px 10px;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.42857;
    color: #333;                    
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.register-details{
    display: block;
    width: auto;
    padding: 9.5px;
    margin: 0px 0px 10px;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.42857;
    color: #333;                    
    background-color: #EAFEEA;
    border: 1px solid #FF9933;
    border-radius: 4px;
}

.training-details{
    display: block;
    width: auto;
    padding: 9.5px;
    margin: 0px 0px 10px;
    font-size: 13px;    
    line-height: 1.42857;
    color: #333;                    
    background-color: #EAFEEA;
    border: 1px solid #FF9933;
    border-radius: 4px;
    text-align: left;
     font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
}

.welcome-green{
    padding:10px; 
    /*padding-right: 80px;*/ 
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
}

.referral-item{
    display:block;
    /*background-color: #78F184;*/
    float:left;
    font-size:smaller;
    padding:5px;
    margin: 5px;
    /*border:1px dotted #333;*/
    text-align: center;
}

.referral{
    display:block;
    /*background-color: #78F184;*/    
    font-size:smaller;
    padding:5px;
    margin: 5px;
    /*border:2px dotted #333;*/
    text-align: center;
}