@{
    ViewBag.Title = "Registration Page";
}



<div class="row">
     
    <div class="col-md-4" style="margin-top:30px">
        @{Html.RenderAction("_Register2", "Account");}
    </div>
    <div class="col-md-3"></div>
</div>
